<header>
  <nav class="navbar navbar-expand-lg navbar-light navbar">Duckplex</nav>
</header>

<div class="container content">
  <div class="row">
    <div class="col-md-6">1</div>
    <div class="col-md-6">2</div>
    <div class="col-md-6 d-block d-lg-none">3</div> <!-- will be hidden on large screens -->
    <div class="col-md-6 d-block d-lg-none">4</div>
  </div>
</div>

<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>

<footer></footer>